{% extends "layout.html" %}
{% block body %}
<nav class="breadcrumb border">
  <ol class="breadcrumb-list space-x-1 md:space-x-3">
    <li class="breadcrumb-item">
      <a href="/" class="breadcrumb-link">
        <svg class="breadcrumb-icon" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
          </path>
        </svg> 
        <span class="breadcrumb-text">Accueil</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <div class="breadcrumb-item-inner">
        <svg class="breadcrumb-icon" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path>
        </svg>
        <span class="breadcrumb-text">API</span>
      </div>
    </li>
  </ol>
</nav>
<main class="main-content">
    <div class="header-api">
      <h1 class="title-api">Recommendations pour l'utilisateur {{ user_id }}</h1>
    </div>
    <div class="container-description">
        <div class="container-card-description">
          <div
            class="card rounded-lg border">
            <table class="container-table">
              <tbody>
                <tr class="border-b bg-[#0330E3] border">
                  <td class="text-white title-tr"><h2>ID article</h2></td>
                  <td class="tr-description"> <h2>Score</h2></td>
                </tr>
                {% if result %}
                {% for r in result %}
                <tr class="border-b bg-[#0330E3] border">
                    <td class="text-white title-tr"> {{ r['article_id'] }}</td>
                    <td class="tr-description"> {{ r['score'] }}</td>
                </tr> 
                {% endfor %}     
                {% else %}
                <tr>
                  <td colspan="2"><p>Aucune recommandation trouvée pour l'utilisateur {{ user_id }}.</p></td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
</main>
{%endblock%}